<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7d9dab">  <td>21/07/19 19:53:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestRunner.beforeClass()[pri:0, instance:runner.TestRunner@61862a7f]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1297978429</td>   <td></td> </tr>
<tr bgcolor="7d9dab">  <td>21/07/19 19:59:41</td>   <td>376389</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestRunner.endReportsAndQuitBrowser()[pri:0, instance:runner.TestRunner@61862a7f]">&lt;&lt;endReportsAndQuitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1297978429</td>   <td></td> </tr>
<tr bgcolor="7d9dab">  <td>21/07/19 19:53:37</td>   <td>12818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.runCukes()[pri:0, instance:runner.TestRunner@61862a7f]">runCukes</td> 
  <td>main@1297978429</td>   <td></td> </tr>
</table>
