<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7d9dab">  <td>21/10/02 11:51:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestRunner.beforeClass()[pri:0, instance:runner.TestRunner@72057ecf]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1278677872</td>   <td></td> </tr>
<tr bgcolor="7d9dab">  <td>21/10/02 11:51:34</td>   <td>12722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.runCukes()[pri:0, instance:runner.TestRunner@72057ecf]">runCukes</td> 
  <td>main@1278677872</td>   <td></td> </tr>
<tr bgcolor="7d9dab">  <td>21/10/02 11:53:15</td>   <td>113184</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestRunner.endReportsAndQuitBrowser()[pri:0, instance:runner.TestRunner@72057ecf]">&lt;&lt;endReportsAndQuitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1278677872</td>   <td></td> </tr>
</table>
